.carrousel {
  &::-webkit-scrollbar {
    display: none;
  }
}
.image-active {
  animation: animateImage infinite 10s linear;
}

@keyframes animateImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-700%);
  }
}

@media only screen and (max-width: 600px) {
  @keyframes animateImage {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-2000px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
