* {
  box-sizing: border-box;
}

.remove-scroll::-webkit-scrollbar {
  display: none;
}

.marquee{ overflow-x: hidden; }
.marquee--inner {
  animation: animateImages 20s linear infinite;
}
.image-elem {
  width: calc(100vw / 4);
}

@keyframes animateImages {
  0% {
    left: 0;
  } 100% {
    left: -100%;
  }
}